<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.min.css" rel="stylesheet">
    <link href="lib/flag-icon-css/css/flag-icon.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.min.js"></script>
    <script src="lib/ionic-modal-select/src/ionic-modal-select.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MainCtrl" ng-init="init()">
    <ion-pane>
      <ion-header-bar class="bar-stable" style="background-color:#F7BE81">
        <h1 class="title" style="color:gray">Namaz Vakitleri</h1>
      </ion-header-bar>
      <ion-content class="padding back">
         <button class="button button-block button-dark" modal-select="" ng-model="nameCountry" options="countries" modal-title="Select a Country" has-search="true", on-select="getOption(option)", style="margin-top:200px", ng-show="country_button">
           <span ng-if="!check_country">Ülke Seçin</span>
           <span ng-if="check_country" ng-bind="nameCountry.country || nameCountry"></span>
           <div class="option">
             <span class="flag-icon flag-icon-{{option.code}}"></span>
              <span ng-bind="option.country"></span>
           </div>
         </button>
         <button class="button button-block button-dark" modal-select="" ng-model="nameCity" options="cities" modal-title="Select a City" has-search="true", on-select="getOption(option)", ng-show="city_button">
           <span ng-if="!check_city">Şehir Seçin</span>
           <span ng-if="check_city" ng-bind="nameCity.Text || nameCity || 'Şehir Seçin'"></span>
           <div class="option">
              <span ng-bind="option.Text"></span>
           </div>
         </button>
         <button class="button button-block button-dark" modal-select="" ng-model="nameTown" options="towns" modal-title="Select a City" has-search="true", on-select="getOption(option)", ng-show="town_button">
           <span ng-if="!check_town">İlçe Seçin</span>
           <span ng-if="check_town" ng-bind="nameTown.Text || nameTown"></span>
           <div class="option">
              <span ng-bind="option.Text"></span>
           </div>
         </button>

         <div class="list" ng-if = "times_list">
           <div class="list-color">
           <br>
            <img ng-src="{{moon}}" class="moon">
            <center>
              <h4><span ng-bind="country_name"></span> <span ng-if="city_name != null"> - {{city_name}}</span><h4>
              <h5 ng-bind="town_name"></h5>
            </center>
            <div style="clear: both;"></div>
          </div>
          <div style="clear: both;"></div>
           <label class="item item-input list-color">
             <div class="input-label"><b>İmsak: </b></div>
             <div class="input-label"><b ng-bind="times.Imsak"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Güneş: </b></div>
             <div class="input-label"><b ng-bind="times.Gunes"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Güneş Doğuş: </b></div>
             <div class="input-label"><b ng-bind="times.GunesDogus"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Güneş Batış: </b></div>
             <div class="input-label"><b ng-bind="times.GunesBatis"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Öğle: </b></div>
             <div class="input-label"><b ng-bind="times.Ogle"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>İkindi: </b></div>
             <div class="input-label"><b ng-bind="times.Ikindi"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Aksam: </b></div>
             <div class="input-label"><b ng-bind="times.Aksam"></b></div>
           </label>
           <label class="item item-input list-color">
             <div class="input-label"><b>Yatsı: </b></div>
             <div class="input-label"><b ng-bind="times.Yatsi"></b></div>
           </label>
           <br/>
           <center><a href="#" class="icon ion-refresh refresh" ng-click = "refresh()"></a></center>
         </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
