.back {
  background: url('../img/mosque.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button.button-dark {
  background-color: rgba(130, 130, 130, 0.8);
  font-size: x-large;
}
.button.button-dark:active {
  background-color: rgba(247, 190, 129, 0.8);
}
.button.button-dark:hover {
  background-color: rgba(255, 163, 70, 0.8);
}
